<h1 class="mb-5">Register</h1>
<form #registerForm="ngForm" (ngSubmit)="register(first_name.value, last_name.value, email.value, password.value)">
    <div class="form-group">
        <label>First name</label>
        <input #first_name="ngModel" [(ngModel)]="user.first_name" type="text" required class="form-control"
               id="first-name" name="first-name">


        <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
            <div *ngIf="first_name.errors.required">
                First Name is required.
            </div>
        </div>

    </div>
    <div class="form-group">
        <label for="last-name">
            Last Name
        </label>
        <input #last_name="ngModel" [(ngModel)]="user.last_name" type="text" required class="form-control"
               id="last-name"
               name="last-name">

        <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="alert alert-danger">
            <div *ngIf="last_name.errors.required">
                Last Name is required.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email"
               required
               email>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>

            <div *ngIf="email.errors.email">
                Please provide valid email address.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">
            Password
        </label>
        <input #password="ngModel" [(ngModel)]="user.password" required minlength="8" pattern="\w*[0-9]{1,}\w*" [class.alert-danger]=" password.invalid && password.dirty "
               type="password" class="form-control" id="password" name="password">
        <span *ngIf="password.invalid && password.dirty">
               <span *ngIf=" password.errors.required ">
                   is required
               </span>
               <span *ngIf=" password.errors.minlength ">
                   must be at least 8 chars
               </span>
               <span *ngIf=" password.errors.pattern ">
                   must contain at least one number
               </span>
           </span>
    </div>


    <div class="form-group">
        <label for="password_confirmation">
            Confirm Password
        </label>
        <input #confirmPassword="ngModel" [(ngModel)]="user.confirm_password" required
               [class.alert-danger]=" confirmPassword.invalid && confirmPassword.dirty || (confirmPassword.touched && confirmPassword.value !== password.value)"
               type="password" class="form-control" id="password_confirmation" name="password_confirmation">
        <span *ngIf="confirmPassword.invalid && confirmPassword.dirty">
               <span *ngIf=" confirmPassword.errors.required ">
                   Is required
               </span>
           </span>
        <span *ngIf="confirmPassword.touched && confirmPassword.value !== password.value">
               Is not the same as password
           </span>
    </div>



    <div class="form-group">
        <input #termsAndConditions="ngModel" [(ngModel)]="user.terms_and_conditions" required
               type="checkbox" id="terms_and_conditions" name="terms_and_conditions"/>
        Accepted terms and conditions
    </div>


    <button type="submit" [disabled]="!registerForm.valid || confirmPassword.value !== password.value"
            class="btn btn-primary btn-block">
        Register
    </button>


</form>