<form #galleryForm="ngForm" (ngSubmit)="editGallery()" *ngIf="!error">
    <hr>
    <h3>Edit Gallery</h3>
    <hr>

    <div *ngIf="errors.length > 0" class="alert alert-danger" role="alert">
        <div *ngFor="let error of errors">{{ error }}</div>
    </div>

    <div class="form-group">

        <label for="name">
            Title
        </label>

        <input #title="ngModel" [(ngModel)]="gallery.title" type="text" required minlength="2" maxlength="255"
               class="form-control" id="name" name="name">

        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">

            <div *ngIf="title.errors.required">
                Title is required.
            </div>

            <div *ngIf="title.errors.minlength">
                Title must be at least 4 characters long.
            </div>

        </div>

        <div *ngIf="gallery.title.length === 255" class="alert alert-info">

            <div>
                Title must be at most 255 characters long.
            </div>

        </div>

    </div>

    <div class="form-group">

        <label for="body">
            Description
        </label>

        <textarea #body="ngModel" [(ngModel)]="gallery.body" type="text" maxlength="1000" class="form-control" id="body" name="body">
    </textarea>

        <div *ngIf="(body.dirty || body.touched) && gallery.body.length === 1000"
             class="alert alert-info">

            <div>
                Name must be at most 1000 characters long.
            </div>

        </div>

    </div>

    <div class="form-group">
        <label>Images</label>
    </div>

    <div class="form-group" *ngFor="let image of gallery.images; trackBy: setOrder;">

        <div class="input-group">

            <span class="input-group-addon">{{ image.order }}</span>

            <input #url="ngModel" [(ngModel)]="image.url" type="text"
                   required pattern="(http)?s?:?(\/\/[^']*\.(?:png|jpg|jpeg))"
                   class="form-control" [ngModelOptions]="{standalone: true}">
            <span class="input-group-btn">
                <img src="{{image.url}}" style="width:auto;height: 38px" alt="">
            </span>

            <span class="input-group-btn" *ngIf="gallery.images.length > 1">
        <a class="btn btn-default" type="button" (click)="moveImageUp(image);"><i class="fas fa-caret-up"></i></a>
      </span>

            <span class="input-group-btn" *ngIf="gallery.images.length > 1">
        <a class="btn btn-default" type="button" (click)="moveImageDown(image);"><i class="fas fa-caret-down"></i></a>
      </span>

            <span class="input-group-btn" *ngIf="gallery.images.length > 1">
        <a class="btn btn-danger" type="button" (click)="removeImage(image);"><i class="far fa-trash-alt"></i></a>
      </span>

        </div>

        <div *ngIf="url.invalid || url.pristine && !url.valid" class="alert alert-info">

            <div>
                Provide valid URL with extension .jpg, .jpeg or .png.
            </div>

        </div>

    </div>


<div class="row mt-5">
    <div class="col-4">
        <button class="btn btn-primary btn-block" (click)="addNewImage();">
            Add new image
        </button>
    </div>
    <div class="col-4">
        <button type="submit" [disabled]="!galleryForm.valid"
                class="btn btn-success btn-block">Update gallery
        </button>
    </div>
    <div class="col-4">
        <a class="btn btn-danger btn-block" href="/all-galleries">Cancel</a>
    </div>
</div>
    



    

</form>
