<form #searchForm="ngForm" (ngSubmit)="search(term)">
    <div class="row">
        <div class="form-group col-12">
            <input type="text" class="form-control" id="search" name="search" [(ngModel)]="term"/>
            <button style="position:absolute;top:0;right:15px" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<div class="row">
    <div *ngFor="let gallery of galleries" class="mb-5 col-6">
        <h1>
            <a href="gallery/{{gallery.user_id}}">
                {{gallery.title}}
            </a>
        </h1>
        <div class="image-container">
            <a href="gallery/{{gallery.id}}">
                <img src="{{gallery.images.url}}" alt="" class="img-fluid">
            </a>
            <div *ngIf="auth.user.id === gallery.user.id" class="delete-gallery">
                <i class="far fa-trash-alt text-primary" title="Delete gallery" (click)="deleteGallery(gallery)"></i>
            </div>
            <div *ngIf="auth.user.id === gallery.user.id" class="edit-gallery">
                <a href="edit-gallery/{{gallery.id}}"><i class="far fa-edit text-primary" title="Edit gallery"></i></a>
            </div>
            <br/>
            Author: <a href="author/{{gallery.user_id}}">{{gallery.user.first_name}} {{gallery.user.last_name}}</a><br/>
            Date: {{gallery.created_at| date:'dd.MM.yyyy.'}}
        </div>
    </div>
    <div *ngIf="galleries.length===0" class="col-12 text-center">
        <h1>Nema galerija, ne prodaje se, ne sme, no no.</h1>
        <h1>Zbvog demokrata, da su ovi naši, onda bi bilo!</h1>
        <br/>
        <img class="img-fluid" src="https://img.youtube.com/vi/VXEtTvzUA8I/0.jpg" alt="">
    </div>
</div>

<div *ngIf="galleryService.count && galleryService.count > page * 10" class="row mb-5">
    <div class="col-12">
        <button class="btn btn-primary btn-block" (click)="loadMore()">Load more</button>
    </div>
</div>
